@import "./variables.scss";

.App {
  overflow: hidden;

  .top-projects {
    width: 80%;
    margin: auto;

    h1 {
      color: $white;
    }

    table {
      width: 100%;
      color: $white;
      border-collapse: collapse;

      thead {
        $thead-border: 1px $grey-blue solid;
        border-bottom: $thead-border;
        border-top: $thead-border;
      }

      tbody {
        font-size: 1.25em;
        tr {
          height: 2.5em;
          cursor: pointer;

          img {
            width: 25px;
            height: 25px;
            margin: 0 10px;
          }

          .symbol {
            margin: 0px 10px;
          }

          &:hover {
            background-color: rgba(249, 249, 249, 0.1);
          }
        }
      }
    }

    td,
    th {
      &#rank {
        text-align: center;
      }
      &#name {
        text-align: left;
      }
      &#price {
        text-align: right;
        padding-right: 10px;
      }
    }
  }
}
