@import "./variables.scss";

.App {
  overflow: hidden;

  .projects {
    width: 80%;
    margin: auto;

    h1 {
      color: $white;
    }

    table {
      width: 100%;
      color: $white;
      border-collapse: collapse;

      thead {
        $thead-border: 1px $grey-blue solid;
        border-bottom: $thead-border;
        border-top: $thead-border;
      }

      tbody {
        font-size: 1.25em;
        tr {
          height: 2.5em;
          cursor: pointer;

          img {
            width: 25px;
            height: 25px;
            margin: 0 10px;
          }

          .symbol {
            margin: 0px 10px;
          }

          &:hover {
            background-color: rgba(249, 249, 249, 0.1);
          }
        }
      }
    }

    td,
    th {
      &#rank {
        text-align: center;
      }
      &#name {
        text-align: left;
      }
      &#price {
        text-align: right;
        padding-right: 10px;
      }
    }
  }

  .project-details {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    color: $white;

    header {
      .back {
        font-size: 1.5em;
        background-color: rgba(107, 107, 107, 0.4);
        padding: 5px 10px;
        border-radius: 10px;
        width: fit-content;
        cursor: pointer;
        margin-bottom: 30px;

        &:hover {
          background-color: rgba(107, 107, 107, 0.2);
        }
      }

      .tags {
        font-size: 0.7em;
        color: $dark;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;

        span {
          background-color: $white;
          border-radius: 3px;
          padding: 3px 5px;
          margin: 0 5px 10px;
          height: fit-content;
          width: fit-content;
          cursor: default;
        }
      }

      .title {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;

        img {
          object-fit: contain;
          height: 60px;
        }

        .favorite {
          font-size: 2em;
          cursor: pointer;

          &:hover {
            color: $grey;
          }

          .active {
            color: $yellow;
          }
        }
      }
    }

    main {
      .description {
        background-color: $dark-grey;
        padding: 10px;
        border-radius: 10px;
      }

      table {
        margin: 20px auto 20px;
        border: 1px $grey solid;
        border-collapse: collapse;

        tr {
          border: 1px $grey solid;
        }

        td,
        th {
          padding: 10px;
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        a {
          width: fit-content;
          color: $white;
          text-decoration: none;
          margin: 2px 0;
          padding: 5px 5px;

          &:hover {
            color: $grey;
          }
        }
      }
    }
  }
}
